.parallaxa {
    background: url('../images/pattern.jpg') no-repeat center 0px;
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

#main {
    min-height: 100vh;
}

#first {
    padding-top: 30px;
}

#foot {
    padding-bottom: 30px;
}

.main-effect {
    opacity: 0;
    transition: 2s;
}

.center-content {
    padding-top: 60px;
}

.profile-img {
    padding: 5px;
    max-height: 350px;
}

.block {
    opacity: 0;
    transition: 1s;
    position: relative;
    top: 150px;
}

.visible {
    opacity: 1;
    top: 0;
}

.text-align-center {
    text-align: center;
}

.social {
    padding: 10px;
}

.social a {
    margin: 2px;
}

h1 {
    word-break: break-all;
}

.default-background {
    background-color: #232629;
}