.main {
    background: url('../images/pattern.png') no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.main-effect {
    opacity: 0;
    transition: 3s;
}

.block {
    opacity: 0;
    transition: 1s;
    position: relative;
    top: 150px;
}

.visible {
    opacity: 1;
    top: 0;
}

.center-content {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.first {
    padding-top: 30px;
}